In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from ast import literal_eval

In [ ]:
#Creates a table of fake data to run practice analysis on 
#@author Aeliya Grover with assistance from Prakrit Jain and Arhuro

In [3]:
#Sets fileAddress, event key, and takes csv downloaded from tba 
fileAddress = '/Volumes/GoogleDrive/My Drive/Scouting Original/'
event = '2022casj'
tba_data = pd.read_csv(f'{fileAddress}{event} tba data.csv')

In [4]:
#Sets an array with only list of robots at competition by taking all numbers at each 
teams = np.unique(np.array(tba_data[tba_data['level'] == 'qm'][['r1', 'r2', 'r3', 'b1', 'b2', 'b3']]).flatten())
#team_goodness = [abs(np.random.normal(loc=1, scale=.3)) if (i in teams) else np.nan for i in range(max(teams)+1)]

In [5]:
teams

array([ 192,  199,  254,  299,  581,  604,  649,  668,  670,  701,  751,
        766,  840,  841,  852,  971,  972, 1072, 1351, 1678, 1967, 2035,
       2141, 2144, 2367, 2489, 2643, 2854, 3045, 3482, 4091, 4159, 4171,
       4186, 4255, 4669, 4904, 4973, 4990, 5027, 5171, 5419, 5458, 5507,
       6238, 6418, 6814, 6884, 6918, 7137, 7413, 7415, 7419, 7777, 8033,
       8048, 8262, 8404, 8793])

In [21]:
#length of qualification matches, consideres every robot in every qualificaation mat
len(tba_data[tba_data['level']=='qm']) *3

267

In [22]:


fakeData = pd.DataFrame(np.vstack([np.array(list(tba_data[tba_data['level'] == 'qm'][['match','r1','r2','r3']].reset_index().drop('index', axis=1).apply(lambda x: [[x[1], x[0], 'red'], [x[2], x[0], 'red'], [x[3], x[0], 'red']], axis=1))).reshape(267,3), np.array(list(tba_data[tba_data['level'] == 'qm'][['match','b1','b2','b3']].reset_index().drop('index', axis=1).apply(lambda x: [[x[1], x[0], 'blue'], [x[2], x[0], 'blue'], [x[3], x[0], 'blue']], axis=1))).reshape(len(tba_data[tba_data['level']=='qm']) *3,3)]), columns=['team', 'match', 'team color']).astype({'team': 'int', 'match': 'int', 'team color': 'str'}).sort_values(['match', 'team color'], ascending=[True,False]).reset_index().drop('index', axis=1)[['match','team','team color']]

In [23]:
teamN = len(teams)
matchN = max(fakeData['match'])
l = list(range(1,matchN+1))*6
l.sort()
#fakeData = pd.DataFrame(l, columns=['match'])
#fakeData['team'] = (np.array([np.random.choice(list(range(teamN)), teamN,replace=False) for i in range(int(np.ceil(matchN*6/teamN)))]).flatten()[0:matchN*6])
#fakeData['team color'] = ['red','red','red','blue','blue','blue']*matchN
fakeData['ground pick-up'] = np.random.choice([True, False], matchN*6)
fakeData['locations'] = [list(np.random.choice(list(range(27)), np.random.randint(0, 18))) for i in range(matchN *6)]
fakeData['game piece'] = fakeData['locations'].apply(lambda x: list(np.random.choice(['b', 'y','m'], len(x))))
fakeData['locations'] = fakeData['locations'].astype(str)
fakeData['game piece'] = fakeData['game piece'].astype(str)
fakeData['auto count']= np.random.choice(list(range(6)),matchN*6)
fakeData['auto climb'] = np.random.choice(list(range(3)), matchN*6)
fakeData['end climb'] = np.random.choice(list(range(3)), matchN*6)
fakeData['climb time'] = np.random.choice(list(range(120)), matchN*6)
fakeData['break time'] = np.random.choice(list(range(135)), matchN*6)
fakeData['defense time'] = np.random.choice(list(range(135)), matchN*6)
fakeData['drive skill'] = np.random.choice(list(range(5)), matchN*6)
fakeData['defense skill'] = np.random.choice(list(range(5)), matchN*6)
fakeData['speed'] = np.random.choice(list(range(3)), matchN*6)
fakeData['scouter'] = np.random.choice(['filler'], matchN*6)
fakeData['comments'] = np.random.choice(['filler'], matchN*6)
#fakeData['relative spirit of the team / level of excitement after the human player scores'] = np.random.choice(list(range(10)), matchN *6)

times = []
for i in range(matchN*6):
    a,b,c,d = np.random.randint(50), np.random.randint(100), np.random.randint(100), np.random.randint(100)
    times.append(np.round(np.array([a,b,c,d]) / (sum((a,b,c,d)) / 135)))
times = np.array(times)
fakeData['climb time'], fakeData['break time'], fakeData['defense time'] = times[:,0], times[:,1], times[:,2]

In [24]:
fakeData.head(10)

,match,team,team color,ground pick-up,locations,game piece,auto count,auto climb,end climb,climb time,break time,defense time,drive skill,defense skill,speed,scouter,comments
0,1,192,red,True,"[3, 3, 1, 4, 1, 8, 22, 3, 6, 1, 13, 2, 17, 19,...","['b', 'y', 'y', 'y', 'm', 'y', 'b', 'y', 'y', ...",2,2,0,20.0,31.0,43.0,3,4,1,filler,filler
1,1,701,red,True,"[12, 10, 11, 18, 7, 3, 13, 15, 24, 20, 9]","['b', 'y', 'b', 'm', 'm', 'y', 'm', 'm', 'b', ...",1,1,1,6.0,15.0,78.0,0,0,1,filler,filler
2,1,2035,red,False,"[21, 17, 24, 25, 14, 1, 19, 5, 5, 20, 4, 16, 1...","['m', 'b', 'm', 'y', 'm', 'b', 'b', 'y', 'm', ...",0,0,0,16.0,47.0,32.0,1,4,0,filler,filler
3,1,751,blue,True,"[14, 24, 6, 17, 12, 26, 13, 10, 25, 3, 9, 16, 25]","['b', 'b', 'y', 'm', 'b', 'b', 'y', 'y', 'y', ...",5,0,2,14.0,37.0,50.0,1,0,1,filler,filler
4,1,4669,blue,True,"[8, 20, 12, 15, 10, 16, 19, 12, 15, 7, 12]","['m', 'm', 'y', 'm', 'y', 'y', 'y', 'b', 'm', ...",0,0,2,31.0,16.0,69.0,0,4,0,filler,filler
5,1,1967,blue,False,"[13, 17]","['y', 'm']",3,2,1,38.0,18.0,67.0,2,3,1,filler,filler
6,2,604,red,True,"[2, 0, 25, 1, 19, 2, 6, 23]","['y', 'y', 'm', 'b', 'b', 'y', 'b', 'm']",4,1,1,12.0,46.0,52.0,4,2,0,filler,filler
7,2,2141,red,True,"[23, 9, 6, 5, 21, 4, 24, 2, 25, 14, 26, 3]","['m', 'm', 'm', 'b', 'm', 'm', 'y', 'b', 'y', ...",1,1,2,31.0,10.0,60.0,2,4,2,filler,filler
8,2,668,red,True,"[6, 8, 2, 11, 24, 2, 7, 3, 15, 20, 6]","['b', 'y', 'b', 'b', 'm', 'b', 'y', 'm', 'b', ...",3,0,2,13.0,56.0,35.0,2,1,0,filler,filler
9,2,299,blue,True,"[17, 6, 17, 25, 14, 21, 10, 2, 10, 0]","['m', 'm', 'y', 'm', 'm', 'm', 'b', 'y', 'y', ...",3,0,1,33.0,40.0,5.0,0,2,0,filler,filler

In [25]:
fakeData.to_csv('fakeData2023.csv')